*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui;
}

body{
    background: #d9d9d9;
}

li {
    list-style: none;
    margin: 5px;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
    border: 1px solid black;
}

h3 {
    font-size: 18px;
    font-weight: 400;
}

h6{
    width: 150px;
    font-size: 14px;
    font-weight: 400;
}

#dados-nome, #dados-assinatura{
    text-align: -webkit-center;
    border-radius: 5px;
    height: 35px;
    border: 1px solid gray;
    width: 200px;
}
.filtros-clientes{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #b4b533;
    box-shadow: 2px 2px 7px 3px #5b5b5b4d;
    gap: 15px;
    margin: 10px 5px;
    border-radius: 15px;
    width: 98%;
    padding: 5px 5px;
}

table {
    border: 1px solid #b4b533;
    border-radius: 10px;
    margin: 10px 5px;
    border-collapse:separate;
}

.all-page{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

.table {
    width: 98%;
    background-color: rgb(237 237 237);
}

.titulos{
    text-align: center;
    height: 50px;
}

.titulos td{
    font-size: 14px;
    font-weight: bold;
    color: black;
}

tr:hover {
    background-color: rgb(226, 226, 226);
}


.tabela{
    text-align: center;
    width: 100vw;
}

.actions{
    display: flex;
}

.adm-imagens {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #b4b533;
    box-shadow: 2px 2px 7px 3px #5b5b5b4d;
    gap: 15px;
    margin: 10px 5px;
    border-radius: 15px;
    width: 98%;
}
.active{
    background-color: #d84b4b;
    border-style: none;
    border-radius: 5px;
    padding: 3px 5px;
    color: rgb(255, 255, 255);
}




.clientes-lista {
    background-color: white;
    border: 2px solid #b4b533;
    align-items: center;
    border-radius: 7px;
    font-size: 18px;
    font-weight: lighter;
    box-shadow: 2px 2px 7px 3px #5b5b5b4d;
}

.button {
    display: flex;
    width: 50%;
    justify-content: center;
}

.espaco {
    padding-left: 10px;
}

#btn-buscar{
    border: none;
    border-radius: 7px;
    color: white;
    background-color:#b4b533;
    font-size: 16px;
    padding: 10px;
    margin: 5px 5px 5px;
}

#btn-editar{
    border: none;
    border-radius: 7px;
    color: white;
    background-color:#b4b533;
    font-size: 16px;
    padding: 10px;
    margin: 5px 5px 5px;
}

#btn-deletar{
    background-color: #d84b4b;
    border: none;
    border-radius: 7px;
    color: white;
    font-size: 16px;
    padding: 10px;
    width: 100%;
    margin: 5px 0px 5px;
}

button{
    transition: all 0.3s;
    cursor: pointer;
}

button:hover{
    -webkit-filter: drop-shadow(3px 3px 3px rgba(0,0,0,.5));
    filter: drop-shadow(3px 3px 3px rgba(0,0,0,.5));
}

.inputs {
    display: flex;
}

.inputs{
    flex-direction: column;
    background-color: #d84b4b;
}

.container-paginacao{
    display: flex;
}

.paginacao{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 90vw;
}
.btn-pagina{
    background-color: #b4b533a8;
    border-style: none;
    border-radius: 5px;
    padding: 3px 5px;
    color: rgb(255, 255, 255);
}
.page-list{
    border: none;
}

.container-editar{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container-logo{
    width: 100vw;
    display: flex;
    justify-content: center;
}

#logo{
    width: 150px;
    margin: 20px;
}
.main-editar{
    margin-top: -80px;
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    align-items: center;
}

.btn-atualiza{
    background-color: #b4b533a8;
    border-style: none;
    border-radius: 5px;
    padding: 5px;
    color: rgb(255, 255, 255);
}
.form-editar{
    border: #b4b533 1px solid;
    display: flex;
    gap: 10px;
    padding: 15px;
    border-radius: 8px;
    width: 450px;
    justify-content: space-around;
}

.titulo-editar{
    text-align: center;
    margin-top: 40px;

}
.update, .div-update{
    display: flex;
    flex-direction: column;
}
.update-right{
    display: flex;
    flex-direction: column;
    gap: 13px;
}
