* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    overflow-x: hidden;

}

main{
    display: flex;
    overflow-x: hidden;
    flex-direction: column;
    align-items: center;
}

a{
    text-decoration: none;
}

/* Cabeçalho */

:root {
    --cor-principal: rgb(51, 51, 51);
    --cor-header: rgba(217, 217, 217, 1);
    --verde-principal: rgba(133, 134, 64, 1);

}

header {
    position: fixed;
    top: 0;
    z-index: 2;
    background-color: var(--cor-header);

    width: 100vw;

}

#menu-desktop {
    display: none;
}

#menu-mobile {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin: 8px 10px
}

#menu-hamburguer img {
    height: 30px;
}


.logo-mobile img {
    height: 60px;
}

#login-mobile img{
    height: 30px;
}




/* CSS DO SIDE BAR */

#side-bar {
    display: none;
    position: absolute;
    height: 200px;
    top: 80px;
    left: 0px;
    background-color: var(--cor-header);
    animation: movimento-sideBar 1s normal;
    border-radius: 0px 0px 20px 0px
}

.nav-item-mobile {
    list-style: none;
    border-bottom: solid 2px black;
    padding: 14px 0px;
}

.nav-link-mobile {
    text-decoration: none;

    padding: 15px 25px;
    font-size: 28px;;

    color: black;
}



body {
    margin-top: 80px;
}




/* Menu Whatsapp */

.whats {
    position: fixed;
    z-index: 2;
    right: 10px;
    bottom: 20px;
    height: 45px
}

/* Banner principal */
.bannerWide {
    display: none;
}

.bannerCarroussel {
    display: none;
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;
    /* padding-top: 60px; */
}

.bannerCarroussel div {
    display: none;
    align-items: center;
}

.banner-mobile-carroussel{
    position: relative;
    /* overflow: hidden; */
}


/* .bannerWide {
    display: flex;
} */

/* .bannerWide img {
    width: 100vw;
} */

.banner-mobile {
    display: flex;
    align-items: center;

}

.banner-mobile img{
    width: 100vw;

}
.hide{
    display: none;
}


.arrow-mobile-left img{
    position: absolute;
    width: 20px;
    top: 50%;
    left: 5%;
    filter: invert(100%);
    transform: rotate(180deg);
}
.arrow-mobile-right img{
    position: absolute;
    width: 20px;
    top: 50%;
    right: 5%;
    filter: invert(100%);

    
}
/* Banner comprido */
.troca {
    background-color: #D9D9D9;
    width: 100vw;
    text-align: -webkit-center;
    font-family: sans-serif;
}

.promo {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.promo-icon {
    margin: 10px;
    height: 25px;
    transform: rotate(-20deg);
}

.promo div {
    display: flex;
    align-items: center;
}

.seta-promo-esq,
.seta-promo-dir {
    height: 15px;
}

.seta-promo-esq {
    transform: rotate(180deg);
}

.promo p {
    font-size: 13px;
}

/* Como funciona */
.como-funciona {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.como-funciona p {
    text-align: center;;
    font-family: sans-serif;
}

.como-funciona h1 {
    margin-top: 20px;
    max-width: 350px;
    text-align: center;
    font-size: 25px;
    font-family: system-ui;
}

.banner-como-funciona {
    width: clamp(250px, 90vw, 400px);
    border-radius: 35px;
}

/* Banner com os times */
.times {
    margin: 25px 0;
    width: 100%;
}

.carroussel {
    display: none;
}

.timesCarroussel {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.timesCarroussel div {
    display: flex;
    align-items: center;
}

.seta-time-esq,
.seta-time-dir {
    width: 15px;
}

.seta-time-esq {
    transform: rotate(180deg);
}

/* Adiciona animação na seta */
.seta-time-esq:hover,
.seta-time-dir:hover {
    background-color: rgba(40, 39, 39, 0.178);
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}



.carroussel {
    display: flex;
}

.carroussel img {
    width: 80vw;
    margin: 0 3vw;
}

/* Passo a passo da assinatura */

.passo-a-passo ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    text-align: center;
    list-style: none;
}

main h3 {
    text-align: center;
    font-size: 28px;
    padding: 10px 0px;
    font-family: sans-serif;
}

.passo-a-passo {
    margin: 5px;
}

.passo-a-passo img {
    height: 150px;
}

.passo-a-passo p {
    margin: 10px;
    text-align: left;
    text-align: center;
    font: arial 12px;
    margin-top: 5px;
}

.btn-eu-quero {
    width: clamp(24px, 85vw, 385px);
    border-radius: 10px;
    border: none;
    background-color: black;
    color: white;
    padding: 8px;
    font-size: 20px;
    font-family: sans-serif;
    margin-bottom: 30px;
}

/* Assinatura e Planos */
.assinatura {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #f6f6f6;
    gap: 30px;
    padding: 30px;
    width: 100vw;
}

#assinaturas-planos {
    font-family: 'Montserrat';
    font-size: 30px;
}

#botoes-planos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 25px;

}


#lista-planos {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

#botoes-planos button {
    border-radius: 10px;
    border-style: none;
    border: #858640 solid 2px;
    padding: 7px 16px;
    transition: all 0.5s;
}

#botao-coracao {
    background: #858640;

    color: white;

}


#botoes-planos button:hover {
    background: #858640 !important;
    cursor: pointer;
    color: white !important;
}

#container-imagem-lista {
    display: flex;
    flex-direction: column;
    align-items: center;

}

#imagem-planos {
    width: 200px;
    border-radius: 50%;
    margin-bottom: 18px;
}






#container-mensalidades {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 25px;
}

.cobranca {
    background: #d9d9d9;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 15px 10px 25px 10px;
    gap: 25px;
    border-radius: 10px;
    box-shadow: 0px 2px 2px 0px #736f6f;
    transition: 0.5s;
    width: 115px;
}


.cobranca p:first-child {
    font-family: 'Montserrat';
    font-size: 20px;
    font-weight: 600;
    color: #858640;


}


.cobranca>p {
    transition: 0.5s;

}

.cobranca:hover>p {
    color: white !important;
}

.cobranca:hover {
    cursor: pointer;
    background: #858640 !important;
}

.cobranca p {
    font-family: 'Montserrat';
    font-size: 15px;
    font-weight: 600;
}

.cobranca span {
    font-family: 'Montserrat';
    font-size: 25px;
    font-weight: 600;
}

#botao-assinatura {
    font-family: 'Montserrat';
    font-size: 20px;
    font-weight: 700;
    color: #858640;
    padding: 5px 105px;
    border-radius: 5px;
    border: none;
    box-shadow: 0px 2px 2px 0px #736f6f;
    transition: 0.5s;
}

#botao-assinatura:hover {
    cursor: pointer;
    color: white;
    background: #858640;
}

/* Beneficios */

.container-beneficios {
    width: 100%;
    background-color: #D9D9D9;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 30px;


}

.container-beneficios h4 {
    text-align: center;
    font-style: normal;
    font-size: 25px;
    padding: 30px 0px;
    font-family: sans-serif;
    font-weight: bold;
}

.img-beneficios {
    width: 75vw;
    margin-bottom: 15px;
}

.lista-beneficios {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 75vw;
    max-width: 390px;

}

.lista-beneficios img{
    width: 55px;
}


:hover.beneficio {
    background-color: #bbbbbb;
}

.beneficio {
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: #544541;


    box-shadow: 2px 4.58075px 4.58075px #858640 (0, 0, 0, 0.25), 1px 4.58075px 4.58075px rgba(0, 0, 0, 0.25), 1px 4.58075px 4.58075px rgba(0, 0, 0, 0.25), 1px 4.58075px 4.58075px rgba(0, 0, 0, 0.25), 0px 4.58075px 4.58075px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
}

.beneficio p {
    font-size: 18px;
}

.descricao-beneficio {
    padding: 2px;
    font-size: medium;
    margin-bottom: 10px;
    text-align: center;
    font-family: system-ui;
    align-self: center;
}


/* Newsletter */
.newsletter {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px;
}

.newsletter img {
    width: 250px;

}

.newsletter strong {
    font-size: 25px;
    font-family: sans-serif;
}

.newsletter p {
    width: clamp(150px, 80vw, 425px);
    margin: 20px;
    text-align: center;
    font: arial 20px;

}

.email {
    width: 250px;
    height: 30px;
    background: #FFFFFF;
    box-shadow: 0px 1.80042px 1.80042px rgba(0, 0, 0, 0.25), 0px 1.80042px 1.80042px rgba(0, 0, 0, 0.25);
    border-radius: 13.5031px;
}

.submit {
    border: none;
    background-color: #858640;
    color: white;
    width: 250px;
    height: 30px;
    margin-top: 15px;
    font: arial 18px;
    box-shadow: 0px 1.55556px 1.55556px rgba(0, 0, 0, 0.25), 0px 1.55556px 1.55556px rgba(0, 0, 0, 0.25);
    border-radius: 11.6667px
}

.formulario-newsletter{
    width: 250px;
}

/* NOSSOS CLUBISTAS DIZEM */

.clubistasdizem h5 {
    font-size: 25px;
    font-family: sans-serif;
    margin-top: 30px;
    text-align: center;
}

.baloes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.balao-direito{
    margin-top: 50px;
}

/* RODAPÈ */

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0px;
    gap: 10px;
    background-color: var(--cor-principal);
    font-family: system-ui;
    font-size: 12px;
}

.informacoes-rodape {

    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

.institucional {
    align-items: center;
    text-align: center;
}

.redes-rodape {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.redes-rodape div {
    padding: 5px 0px;
}

#copyright {
    color: white;
    padding: 10px 0px 0px;
}

.logo-footer img {
    width: 300px;
    margin-left: 45px;
}

@media (min-width: 480px) {
    .banner-mobile img {
        display: none;
    }
    .arrow-mobile-left img, .arrow-mobile-right img{
        display: none;

    }

    .bannerCarroussel {
        display: flex;
        position: relative;
    }
    
    .banner-mobile-carroussel{
        display:none;
    }
    .arrow-wide-right img{
        position:absolute;
        top: 50%;
        right: 10px;
        width: 20px;
    filter: invert(100%);

    }
    .arrow-wide-left img{
        position:absolute;
        width: 20px;
        filter: invert(100%);

        top: 50%;
        left: 10px;
        transform: rotate(180deg)
    }

    .carroussel img{
        width: 400px;
    }


    .bannerWide {
        display: none;
        flex-direction: column;
        align-items: center;
        max-width: 100vw;
    }
    #firstBanner{
        display: flex;
    }

    .bannerWide img{
        width: 100vw;
    }

    .img-beneficios{
        width: 368px;
    }

    .passo-a-passo {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 20px;
        font-family: sans-serif;
    }

    .login span {
        display: flex;
        font-family: sans-serif;
    }


    #container-mensalidades {

        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        gap: 10vw;
        height: 145px;
    }

    .cobranca:hover {

        margin-bottom: 20px;
    }

   
    .redes-rodape {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .informacoes-rodape {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        text-align: center;
        width: 100vw;
        padding: 10px 0 0;
    }
    .promo{
        justify-content: center;
        gap: 20px;
    }

    .planos {
        gap: 10px;
        display: flex;
        /*width: min(100%, 550px);*/
        justify-content: space-evenly;
        flex-direction: column;
        align-items: center;
    }

}

@media (min-width: 768px) {
    .passo-a-passo ul {
        flex-direction: row;
    }
    

    .cobranca {
        width: 150px;
    }
    .como-funciona p{
        max-width: 500px;
    }


    #container-imagem-lista {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 30px;
        justify-content: space-evenly;
        width: 55vw;
    }

    .institucional {
        margin-left: 35px;
    }


    .informacoes-rodape {
        display: flex;
        flex-direction: row;
        align-items: center;
    }


    .planos {
        gap: 10px;
        display: flex;
        width: min(100%, 550px);
        justify-content: space-evenly;
        flex-direction: row;
        align-items: center;
    }

    .redes-rodape {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 90px;
    }

    .logo-footer img {
        margin-left: 0px;
    }

    @media (min-width: 900px) {

        body{
            margin-top: 135px;
        }

        #menu-mobile {
            display: none;
        }

        
        .bannerWide img{
            width: 80vw;
        }

        #menu-desktop {
            display: block;
        }

        .menu-desktop-um {
            display: flex;
            justify-content: space-around;
            align-items: center;

            padding: 0 1rem;
        }

        .logo-retrobol img {
            width: 190px;
            padding: 10px;
        }

        .nav-menu-desktop a {
            text-decoration: none;
            font-size: 1.5rem;
            font-weight: 700;

            padding: 0px 40px;

            color: var(--verde-principal);
        }


        .nav-login {
            display: flex;
            align-items: center;
            padding: 20px;
        }

        .nav-login img {
            width: 40px;
            margin-right: 10px;
        }

        .nav-login span {
            font-size: 1.5rem;

            color: var(--verde-principal);
        }

        .listra-menu {
            height: 3px;
            background-color: var(--verde-principal);
        }

        .nav-desktop-dois {
            width: 100%;
        }

        

        .nav-list-desktop {
            display: flex;
            justify-content: space-between;
            align-items: center;

            font-size: 20px;

            padding: 0.5rem 7rem;
        }

        .nav-item-desktop {
            list-style: none;
        }

        .nav-link-desktop {
            text-decoration: none;
            transition: all 0.7s;

            padding: 10px;

            color: var(--verde-principal);
        }

        .nav-link-desktop:hover {

            background-color: var(--verde-principal);
            color: var(--cor-header);
        }
    }

    @keyframes movimento-sideBar {

        0% {
            transform: translateX(0%);
        }

        

        100% {
            transform: translateX(-100%);
        }

    }
}

@keyframes showLogin {
    from{
        filter: opacity(0);
    }
    to{
        filter: opacity(1);


    }
} 

@keyframes hideLogin {
    from{
        filter: opacity(1);

    }
    to{
        filter: opacity(0);


    }
} 