@keyframes showLogin {
    from{
        filter: opacity(0);
    }
    to{
        filter: opacity(1);


    }
} 

@keyframes hideLogin {
    from{
        filter: opacity(1);

    }
    to{
        filter: opacity(0);


    }
} 





* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root {
    --cor-principal: rgb(51, 51, 51);
    --cor-header: rgba(217, 217, 217, 1);
    --verde-principal: rgba(133, 134, 64, 1);

}

main, html{
    max-width: 100vw;
    overflow-x: hidden;
}

/* HEADER */

header{
    background-color: var(--cor-header);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
}

.container-nav{
    display: flex;
    align-items: center;
    width: 100vw;
    justify-content: space-between;
    padding: 10px 30px;
}
.nav-link-desktop {
    text-decoration: none;
    transition: all 0.7s;
    padding: 10px;
    color: var(--verde-principal);
    font-size: 20px;
}
.nav-link-desktop:hover {
    background-color: var(--verde-principal);
    color: var(--cor-header);
}
.menu-wide{
    justify-content: space-around;
    width: 100vw;
    padding: 10px;
    border-top: 4px solid var(--verde-principal);
    display: none;
    color: #858640;
    font-size: 18px;
    font-weight: 500;

}

.menu-wide li{
    list-style: none;
}

.nav-login{
    align-items: flex-end;
    padding-right: 25px;
}

.nav-menu{
    padding: 30px;
}
.nav-login, .nav-menu{
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 15px 0px;
    border-radius: 0px 0px 20px 0px;
    justify-content: space-between;
    
    
}
.nav-menu li, .nav-login li{
    list-style: none;
    font-size: 25px;
    border-bottom: solid 2px black;
    width: 149px;

}

.icon-header{
    height: 30px;
    filter: invert(34%) sepia(5%) saturate(3639%) hue-rotate(21deg) brightness(87%) contrast(89%);
}

header img{
    height: 50px;
}
.container-login{
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 20px;
}

#login{
    display: none;
}

.hide-login{
    display: none;
}




.hide-login, .hide-menu{
    position: absolute;
    height: 200px;
    top: 80px;

    width: 149px;
    background-color: var(--cor-header);
}

.hide{
    display: none

}

.hide-menu{
    left: 0px;
    text-align: left;
    border-radius: 0px 0px 20px 0px;
    top: 73px;
    text-align: center;

}
.hide-login{

    right: 0px;
    transform-origin: right
}

a{
    
    text-decoration: none;
    color: black;


}

a:hover{
    cursor: pointer;
}

/* MAIN */

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* height: 70vh; */
    padding-top: 70px;
}

.btn-user, .btn-entrega, .btn-meu-plano{
    font-size: 18px;
    color: var(--cor-principal);
    padding: 10px;
    width: 200px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px 11px #00000012;
}

.btn-res{

    display: flex;
    font-size: 22px;
    background-color: #858640;
    color: white;
    padding: 20px 10px;
    width: 200px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px 11px #00000012;
    flex-direction: column;
    justify-content: space-around;
}

.container-btn-user{
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.container-pagina{
    margin: 20px 0;
    display: flex;
    flex-direction: column;

    align-items: center;
    text-align: center;
    gap: 60px;

    
    
}
.container-configuracoes{
    display: flex;
    flex-direction: column;
    gap: 20px;

}






/* FOOTER */

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0px;
    gap: 10px;
    background-color: var(--cor-principal);
    font-family: system-ui;
    font-size: 12px;
}

.informacoes-rodape {

    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

.institucional {
    align-items: center;
    text-align: center;
}

.redes-rodape {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-left: 28px;
}

.redes-rodape div {
    padding: 5px 0px;
}

#copyright {
    color: white;
    padding: 10px 0px 0px;
}

.logo-footer img {
    width: 200px;
}




/* RESPONSIVIDADE */

@media (min-width: 768px){
    .menu-wide{
        display: flex;
    }
    #hamburger-menu{
        display: none;
    }
    #login{
        display: block;
    }
    #logo-retrobol{
    }
    .menu-mobile-hide{
        display: none;
    }

    .container-nav{
        justify-content: space-evenly;   
    }
    .hide-login, .hide-menu{
        display: none !important; 
    }
    .container-pagina{
        flex-direction: row;
        gap:15vw;
        top: 50px;
        margin: 113px 0;


    }




    .informacoes-rodape{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        width: 100vw;
    }
}