*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Cabeçalho */

header{
    background-color: rgb(51, 51, 51);
    height: 55px;
    display: flex;
    width: 100vw;
    padding: 0 20px;
    color: white;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 1
}
header img{
    height: 25px;
    transform: rotateY(180deg);
}
.login{
    display: flex;
    align-items: center;
}
.login span{
    margin-left: 10px;
    display: none;
}

/* Menu Whatsapp */

.whats{
    position: fixed;
    z-index: 2;
    right: 10px;
    bottom: 20px;
    height: 45px
}
/* Banner principal */
.banner{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.banner-wide{
    display: none;
}

.banner-mobile{
    width: min(100%, 550px );
    align-items: center;
    margin-top: 50px;

}
/* Banner comprido */
.troca{
    background-color: rgb(198, 198, 198);
    width: 100vw;
    text-align: -webkit-center;

}

.promo{
    display: flex;
    align-items: center;
    width: min(100%, 550px);
    justify-content: space-between;
}
.promo-icon{
    margin: 10px;
    height: 25px;
    transform: rotate(-20deg);
}
.promo div{
    display: flex;
    align-items: center;
}
.seta-promo-esq, .seta-promo-dir{
    height: 15px;
}
.seta-promo-esq{
    transform: rotate(180deg);
}
.promo p {
    font-size: 13px;
}
/* Como funciona */
.como-funciona{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.como-funciona p{
    text-align: center;
    max-width: 90vw;
    margin: 20px 0px;
}
.como-funciona h1{
    margin-top: 20px;
    max-width: 350px;
    text-align: center;
    font-size: 25px;
}
.banner-como-funciona{
    width: clamp(250px, 90vw, 400px);
    border-radius: 35px;
}
/* Banner com os times */
.times{
    margin: 25px 0;
    width: 85vw;

}
.img-times :last-child{
    padding: 0px 11.5px;
}
.img-times{
    display: flex;
}
.img-times img{
    height: clamp(10px, 13vw, 85px);
    margin: 0 3vw;
}
/* Passo a passo da assinatura */
.passo-a-passo{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    text-align: center;
}
main h3{
    text-align: center;
    font-size: 25px;
    padding: 30px 0px;
}
.passo-a-passo *{
    margin: 12px;
}
.passo-a-passo img{
    height: 50px;
}
.btn-eu-quero{
    width: clamp(24px,85vw, 385px);
    border-radius: 10px;
    border: none;
    background-color: black;
    color: white;
    padding: 8px;
    font-size: 20px;
    margin-bottom: 30px;
}
/* Assinatura e Planos */
.assinatura{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-image: linear-gradient(white,rgb(111, 111, 111));

}
.btn-assinatura{
    display: flex;
}
.btn-assinatura button{
    margin: 15px;
    font-size: clamp(12px,4vw,19px);
    background-color: white;
    border: 2px solid black;
    padding: 6px;
    border-radius: 15px;

}

.btn-assinatura button:hover{
    color: white;
    background-color: black;
}
.camiseta-assinatura{
    width: clamp(150px, 50vw, 240px);
    border-radius: 50%;
    margin: 10px 0px 20px 0px;
}
.assinatura li{
    margin: 10px;
}
.planos{
    margin-top: 20px;
    display: flex;
    width: min(100%, 550px);
    justify-content: space-evenly;
}
.plano{
    text-align: center;
    background-color: white;
    border-radius: 5px;
    padding: 10px;
}

.plano label{
    font-weight: bold;
    font-size: 20px;
}
.dinheiro{
    margin: 10px 0px;
    font-weight: bold;
    font-size: 26px;
}
.plano span{
    font-size: 12px;
}
.mensalidade{
    font-size: 11px;
}
.plano input{
    margin-top: 15px;
    transform: scale(1.7);
}
.quero{
    width: 100vw;
    border: none;
    background-color: black;
    color: white;
    padding: 8px;
    font-size: 20px;
    margin: 30px;

}
/* Vantagens */
.vantagens{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.vantagens span{
    margin: 15px;
    font-size: 30px;
}
.banner-vantagens{
    width: clamp(230px,45vw,450px);
    border-radius: 50px;
    margin-bottom: 10px;
}
.vantagens section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1.5px solid black;
    border-radius: 20px;
    padding: 15px;
    margin: 10px 10px 0px 10px;
    width: clamp(275px, 80vw,425px);
}
.vantagens section :first-child{
    width: 35px;
}
.perguntas-e-respostas{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.vantagens section p{
    text-align: center;
    font-size: 15px;
}
.seta-vantagens-baixo{
    width: 15px;

    transform: rotate(90deg);

}
.seta-vantagens-cima{
    width: 15px;
    transform: rotate(270deg);

}
.descricao-vantagem {
    margin-bottom: 15px;
    text-align: justify;
    width: clamp(150px, 80vw,425px);

}
.linha{
    width: 300px;
    height: 15px;
    border-top: 1px solid black;
}
/* Newsletter */
.newsletter{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.newsletter img{
    width: 250px;
   
}
.newsletter strong{
    font-size: 25px;
}
.newsletter p{
    width: clamp(150px, 80vw,425px);
    margin: 20px;
    text-align: center;

}
.email{
    width: 250px;
    height: 30px;
}

.submit{
    border: none;
    background-color: black;
    color: white;
    width: 250px;
    height: 30px;
    margin-top: 15px;

}

/* RODAPÈ */

footer {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    padding: 20px 0px;

    background-color: black;
}

.informacoes-rodape {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    width: 100vw;
    padding: 10px 0 0;
    
    color: white;
}

.redes-rodape {
    display: flex;
    flex-direction: column;
}

.redes-rodape div {
    padding: 5px 0px;
}

#copyright {
    color: white;
    padding: 10px 0px 0px;
}

@media (min-width: 481px) {
    .banner-mobile{
        display: none;
    }
    .banner-wide{
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 100vw;
        max-height: 100vh;
        margin-top: 55px;
    }

    .passo-a-passo{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 20px;
    }
    .login span{
        display: flex;
    }
    

}

@media (min-width: 881px){
    .passo-a-passo{
        flex-direction: row;
    }
}