<footer>
    <section class="informacoes-rodape">
      <div class="institucional">
        <article>
          <h2>Institucional</h2>
          <p>Sobre nós</p>
          <p>Imprensa</p>
          <p>Politica de privacidade</p>
          <p>Termos e condiçoes de uso</p>
        </article>
        <br>
        <br>
        <article>
          <h2>Podemos te Ajudar ?</h2>
          <p>Entre em contato</p>
          <p>Parcerias</p>
        </article>
      </div>
      <article class="redes-rodape">
        <h2>Redes Sociais:</h2>
        <div>
          <img src="../../../images/imgs/icon/logo-facebook.png" alt="Logo do Facebook" />
          <img src="../../../images/imgs/icon/logo-instragam.png" alt="Logo do Instagram" />
          <img src="../../..//Retrobol/imgs/icon/logo-whatsapp.png" alt="Logo do Whatsapp">
        </div>
      </article>
      <div class="logo-footer">
        <img src="../../..//images/imgs/logo/Logo Retrôbol - branco - Cortado.png" alt="">
      </div>
    </section>

    <strong id="copyright">copyright &copy; | 2022</strong>
  </footer>
