

    <main>
        <section class="container-btn-user">
          <a href="/users/assinatura">
            <div class="btn-user" id="btn-assinatura">
                Assinatura
            </div>
          </a>

          <a href="/users/pedidos">
            <div class="btn-user" id="btn-pedidos">
                Pedidos
            </div>
          </a>

          <a href="/users/configuracoes">
            <div class="btn-user" id="btn-configuracao">
                Configuração
            </div>
          </a>

        </section>
    </main>