

    <main>
      <section class="container-pagina">
        <div class="container-btn-user">
          <a href="/users/<%= id %>/assinatura">
            <div class="btn-user" id="btn-assinatura">
                Assinatura
            </div>
          </a>

          <a href="/users/<%= id %>/pedidos">
            <div class="btn-user" id="btn-pedidos">
                Pedidos
            </div>
          </a>

          <a href="/users/<%= id %>/configuracoes">
            <div class="btn-user" id="btn-configuracao">
                Configurações
            </div>
          </a>

        </div>
  