<title>Retrôbol</title>

</head>
<body>

    <header>
        <div class="hide hide-menu">
            <ul class="nav-menu">
                <a href="/">
                  <li>Home</li>
                </a>
                
                <a href="">
                  <li>Quem somos</li>
                </a>
                
                <a href="">
                  <li>Ajuda</li>
                </a>
                
                <a href="">
                  <li>Contato</li>
                </a>
            </ul>

        </div>

        <div class="hide hide-login">
            <ul class="nav-login">
              <a href="/users/assinatura">
                <li>Assinatura</li>
              </a>
              
              <a href="/users/pedidos">
                <li>Pedidos</li>
              </a>
              
              <a href="/users/perfil-colecionador">
                <li>Perfil de Colecionador</li>
              </a>
              <a href="/users/configuracoes">
                <li>Configurações</li>
              </a>
              <a href="">
                <li>Logout</li>
              </a>
            </ul>
        </div>
        <nav class="container-nav">
            <div>
                <img id="hamburger-menu" class="icon-header" src="../images/imgs/icon/menu-hamburguer.png" alt="hamburger-menu-icon">

            </div>
            <img id="logo-retrobol" src="../images/imgs/logo/Logo-Retrôbol.png" alt="logo">

            <div class="container-login">
                <img id="login-menu" class="icon-header" src="../images/imgs/icon/user.png" alt="hamburger-menu-icon">
                <span id="login">LOGIN</span>

            </div>
        </nav>
            
        <ul class="menu-wide">
          <a href="/users/assinatura">
            <li>Assinatura</li>
          </a>
          
          <a href="/users/pedidos">
            <li>Pedidos</li>
          </a>
          
          <a href="/users/colecionador">
            <li>Perfil de Colecionador</li>
          </a>
          
          <a href="/users/configuracoes">
            <li>Configurações</li>
          </a>
          
          <a href="">
            <li>Logout</li>
          </a>
        </ul>
        
    </header>