

    <main>
      <section class="container-pagina">
        <div class="container-btn-user">
          <a href="/users/<%= id %>/meu-plano">
            <div class="btn-meu-plano" id="btn-assinatura">
                Meu plano
            </div>
          </a>

          <a href="/users/<%= id %>/pedidos">
            <div class="btn-entrega" id="btn-pedidos">
                Próxima entrega
            </div>
          </a>

          <a href="/users/<%= id %>/configuracoes">
            <div class="btn-user" id="btn-configuracao">
                Configurações
            </div>
          </a>

        </div>
  