<%- include("./partials/partialHead") %> 
<link rel="stylesheet" href="../stylesheets/cadastro.css" />

<title>Retrôbol</title>

</head>
<body>

    <header>
        <div class="hide hide-menu">
            <ul class="nav-menu">
              <a href="/cadastro">
                <li>Cadastro</li>
              </a>
              
              <a href="/login">
                <li>Login</li>
              </a>
              
              <a href="/checkout">
                <li>Planos</li>
              </a>
            </ul>

        </div>

        <div class="hide hide-login">
            <ul class="nav-login">
                <a href="/cadastro">
                    <li>Cadastro</li>
                  </a>
                  
                  <a href="/login">
                    <li>Login</li>
                  </a>
                  
                  <a href="/checkout">
                    <li>Planos</li>
                  </a>
            
             
            </ul>
        </div>
        <nav class="container-nav">
            <div class="menu-mobile-hide">
                <img id="hamburger-menu" class="icon-header" src="../../../images/imgs/icon/menu-hamburguer.png" alt="hamburger-menu-icon">

            </div>
            

              <a href="/"><img id="logo-retrobol" src="../../../images/imgs/logo/Logo-Retrôbol.png" alt="logo"></a>
  
            
              <div class="container-login">
                  <img id="login-menu" class="icon-header" src="../../../images/imgs/icon/user.png" alt="hamburger-menu-icon">
                

<span>Login</span>
                  
  
</div>
</nav>

<ul class="menu-wide">
<li class="nav-item-desktop"><a class="nav-link-desktop" href="/cadastro">Cadastro</a></li>
<li class="nav-item-desktop"><a class="nav-link-desktop" href="/login">Login</a></li>
<li class="nav-item-desktop"><a class="nav-link-desktop" href="/checkout">Planos</a></li>
</ul>

</header>
<main>

<form action="/cadastro" method="POST">

    <section class="container-cadastro">            
        <h1>Crie sua conta</h1>
        <span>
            Já possui conta? Clique <a href="/login">aqui </a>para logar
        </span>
        <div class="dados-pessoais">
            <label for="email">E-mail</label>
            <input  id="dados-email" name="email" type="email">
            <p class="error-dados" id="erro-email">
                <% if(locals.errorEmail && errorEmail.email){ %>
                    
                    <%= errorEmail.email.msg  %> 

                <% } %>
            </p>
    
            <label for="cpf">CPF</label>
            <input id="dados-cpf" name="cpf" type="number">
            <p class="error-dados" id="erro-cpf"></p>
    
            <label for="nome">Nome</label>
            <input id="dados-nome" name="nome" type="text">
            <p class="error-dados" id="erro-nome"></p>
    
    
            <label for="sobrenome">Sobrenome</label>
            <input id="dados-sobrenome" name="sobrenome" type="text">
            <p class="error-dados" id="erro-sobrenome"></p>
    
    
            <label for="celular">Celular</label>
            <input id="dados-celular" name="celular" type="number">
            <p class="error-dados" id="erro-celular"></p>
    
    
            <label for="nascimento">Data de Nascimento</label>
            <input id="dados-nascimento" name="nascimento" type="date">
    
            <label for="senha">Senha</label>
            <input id="dados-senha" name="senha" type="password">
            <p class="error-dados" id="erro-especial"></p>
            <p class="error-dados" id="erro-maiuscula"></p>
            <p class="error-dados" id="erro-tamanho"></p>
    
    
            <label for="confirmar">Confirmar Senha</label>
            <input id="dados-confirmacao" name="confirmar" type="password">
            <p class="error-dados" id="erro-confirmacao"></p>
    
    
            
        </div>
    
        
        <button type="submit" id="btn-dados-pessoais">
            Cadastrar
        </button>
        
    </section>
    
    
    
    
    

</form>    
</main>


<%- include("./partials/userFooter") %> 

