<%- include("./partials/partialHead") %> 
  <link rel="stylesheet" href="../stylesheets/perfil-colecionador.css" />
  <%- include("./partials/userHeader") %> 

  <%- include("./partials/userMain") %> 
</section>
</main>





<%- include("./partials/userFooter") %> 

<script src="../../javascripts/users.js"></script>
</body>
</html>