<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="stylesheets/index.css" />

  <title>Retrôbol</title>

</head>

<body>
  <header>

    <div id="menu-desktop">

      <div class="menu-desktop-um">

        <div class="logo-retrobol">
          <img src="images/imgs/logo/Logo-Retrôbol.png" alt="Logo da RetrôBol">
        </div>

        <nav class="nav-desktop">
          <span class="nav-menu-desktop">
            <a href="#">CLUBE</a>
          </span>

          <span class="nav-menu-desktop">
            <a href="#">LOJA</a>
          </span>
        </nav>

        <div id="login">
          <a href="/login">
            <div class="nav-login">
              <img src="images/imgs/icon/user.png" alt="ícone do login">
              <span>Login</span>
            </div>
          </a>
        </div>

      </div>

      <div class="listra-menu">

      </div>

      <nav class="nav-desktop-dois">
        <ul class="nav-list-desktop">
          <li class="nav-item-desktop"><a class="nav-link-desktop" href="#">Assine</a></li>
          <li class="nav-item-desktop"><a class="nav-link-desktop" href="#">Perfil Jogador</a></li>
          <li class="nav-item-desktop"><a class="nav-link-desktop" href="#">Conteúdo</a></li>
          <li class="nav-item-desktop"><a class="nav-link-desktop" href="#">Ajuda</a></li>
        </ul>
      </nav>

    </div>

    <div id="menu-mobile">

      <div id="menu-hamburguer">
        <img src="/imgs/icon/menu-hamburguer.png" alt="ícone do menu hamburguer">
      </div>

      <div class="logo-mobile">
        <img src="/imgs/logo/Logo Retrôbol.png" alt="Logo da retrôbol">
      </div>

      <div id="login-mobile">
        <img src="/imgs/icon/do-utilizador.png" alt="">
      </div>

      <div id="side-bar">

        <nav class="nav-mobile">
          <ul class="nav-list-mobile">
            <li class="nav-item-mobile"><a class="nav-link-mobile" href="#">CLUBE</a></li>
            <li class="nav-item-mobile"><a class="nav-link-mobile" href="#">LOJA</a></li>
            <li class="nav-item-mobile"><a class="nav-link-mobile" href="#">Ajuda</a></li>
          </ul>
        </nav>

      </div>

    </div>

  </header>
  <main>
    <img class="whats" src="images/imgs/icon/whatsapp.png" alt="" />

    <section class="bannerCarroussel">

      <div class="bannerWide fade">
        <img src="images/imgs/banners/bannerA.jpeg" alt="" />
      </div>

      <div class="bannerWide fade">
        <img src="images/imgs/banners/bannerB.jpeg" alt="" />
      </div>

      <div class="bannerWide fade">
        <img src="images/imgs/banners/bannerC.jpeg" alt="" />
      </div>

    </section>

    <div class="troca">
      <section class="promo">

        <img class="seta-time-esq" onclick="plusBanner(-1)" src="images/imgs/icon/right-arrow.png" alt="">

        <img class="promo-icon" src="images/imgs/icon/seta-circular.png" alt="" />
        <p>
          <strong>PRIMEIRA TROCA GRÁTIS</strong> para todas as compras
        </p>
        <img class="seta-time-dir" onclick="plusBanner(1)" src="images/imgs/icon/right-arrow.png" alt="">
      </section>
    </div>

    <h3 class="times">Com os melhores times!</h3>
    <section class="timesCarroussel">
      <img class="seta-time-esq" onclick="plusSlides(-1)" src="images/imgs/icon/right-arrow.png" alt="">


      <div class="carroussel fade">
        <img src="images/imgs/times/banner aa.png" alt="" />
      </div>

      <div class="carroussel fade">
        <img src="images/imgs/times/banner bb.png" alt="" />
      </div>

      <img class="seta-time-dir" onclick="plusSlides(1)" src="images/imgs/icon/right-arrow.png" alt="">

    </section>

    <div class="como-funciona">

      <h1>Como funciona a assinatura da Retrôbol</h1>

      <div class="passo-a-passo">
        <ul>
          <li>
            <img src="images/imgs/icon/escolha.png" alt="" />
            <p>Escolha a sua <br>
              assinatura
            </p>
          </li>
          <li>
            <img src="images/imgs/icon/calendario.png" alt="" />
            <p>Escolha um plano, anual, <br>
              semestral ou trimestral</p>
          </li>
          <li>
            <img src="images/imgs/icon/preencha.png" alt="" />
            <p>Preencha seu perfil <br>
              de torcedor</p>
          </li>
          <li>
            <img src="images/imgs/icon/carrinho de compras.png" alt="" />
            <p>Aproveira os benefícios <br>
              de ser clubista</p>
          </li>
          <li>
            <img src="images/imgs/icon/camisa.png" alt="" />
            <p>Receba a sua edição <br>
              do mês</p>
          </li>
        </ul>

      </div>
      <section class="assinatura">
        <h4 id="assinaturas-planos">Assinaturas e Planos</h4>
        <div id="botoes-planos">
          <button id="botao-coracao"><%= todosPlanos[0].nome %> </button>
          <button id="botao-nacional"><%= todosPlanos[1].nome %></button>
          <button id="botao-mundial"><%= todosPlanos[2].nome %></button>
        </div>
        <div id="container-imagem-lista">

          <img id="imagem-planos" src="images/imgs/assinaturas/inter.jpg" alt="camiseta-retro-inter">
          <ul id="lista-planos">
            <li id="lista-descricao1">Escolha um time do coração</li>
            <li id="lista-descricao2">Receba uma linda camisa retrô todo mês</li>
            <li id="lista-descricao3">Uma camisa extra no plano anual</li>

          </ul>
        </div>


        <div id="container-mensalidades">
          <div class="cobranca plano-trimestral">
            <p>Trimestral</p>
            <p>R$
              <span id="valor-trimestral">199,99</span>
              /mês
            </p>
          </div>
          <div class="cobranca plano-anual">
            <p>Anual</p>
            <p>R$
              <span id="valor-anual">159,99</span>
              /mês
            </p>
          </div>
          <div class="cobranca plano-semestral">
            <p>Semestral</p>
            <p>R$
              <span id="valor-semestral">189,99</span>
              /mês
            </p>
          </div>
        </div>
        <br />
        <a href="/checkout">
          <button id="botao-assinatura">Assinar</button>
        </a>


      </section>

      <br />

      <div class="container-beneficios">
        <h4>Benefícios de ser Clubista</h4>
        <img class="img-beneficios" src="images/imgs/beneficios/img-beneficios.png" alt="">
        <div class="lista-beneficios">

          <section class="beneficio">
            <img src="images/imgs/beneficios/img-beneficio-1.png" alt="">
            <p>Experiência personalizada</p>
            <img src="images/imgs/beneficios/seta-mao-baixo.png" alt="">
          </section>
          <p class="descricao-beneficio" style="display: none;">Nossa torcida escolhe e recomenda as melhores camisas de
            acordo com torcidas que aqueça seu coração, craques históricos e outros. </p>

          <section class="beneficio">
            <img src="images/imgs/beneficios/img-beneficio-2.png" alt="">
            <p>Camisas de seleção</p>
            <img src="images/imgs/beneficios/seta-mao-baixo.png" alt="">
          </section>
          <p class="descricao-beneficio" style="display: none;">Temos as melhores camisas com diversos tamanhos e
            estilos para você ficar charmoso na pelada com os amigos ou até mesmo no churrasco de domingo. </p>

          <section class="beneficio">
            <img src="images/imgs/beneficios/img-beneficio-3.png" alt="">
            <p>Produtos originais</p>
            <img src="images/imgs/beneficios/seta-mao-baixo.png" alt="">
          </section>
          <p class="descricao-beneficio" style="display: none;">Certificamos que os produtos são 100% originais e
            verificados, além de você sempre receber um mimo diferente todos os meses, para deixar você estiloso,
            queremos você bem cuidado também, por isso temos diversas parcerias que todos os meses da assinatura irá
            presentear você!</p>

          <section class="beneficio">
            <img src="images/imgs/beneficios/img-beneficio-4.png" alt="">
            <p>Entrega grátis</p>
            <img src="images/imgs/beneficios/seta-mao-baixo.png" alt="">
          </section>
          <p class="descricao-beneficio" style="display: none;">O melhor de tudo que o frete é grátis e agendado, para
            você se programar e receber no conforto da sua casa e sem preocupações também.</p>

        </div>
      </div>
      <br />
      <br />
      <div class="newsletter">
        <strong> Quer mais? Nós te damos! </strong>
        <p>
          Te enviamos diretamente todas as novidades sobre o universo do
          futebol! promoções imperdíveis e as últimas tendências que você não
          pode perder!
        </p>
        <input placeholder="   Digite seu e-mail" class="email" type="email" />
        <input class="submit" type="submit" />
      </div>
      <div class="clubistasdizem">
        <div>
          <h5>Nossos clubistas dizem</h5>
        </div>
        <div class="baloes">
          <div class="balao-esquerdo">
            <img src="/Retrobol/imgs/icon/Balao esquerdo.png" alt="balao esquerdo">
          </div>
          <div class="balao-direito">
            <img src="/Retrobol/imgs/icon/Balao direito.png" alt="balao direito">
          </div>
        </div>
      </div>
  </main>

  <footer>
    <section class="informacoes-rodape">
      <div class="institucional">
        <article>
          <h2>Institucional</h2>
          <p>Sobre nós</p>
          <p>Imprensa</p>
          <p>Politica de privacidade</p>
          <p>Termos e condiçoes de uso</p>
        </article>
        <br>
        <br>
        <article>
          <h2>Podemos te Ajudar ?</h2>
          <p>Entre em contato</p>
          <p>Parcerias</p>
        </article>
      </div>
      <article class="redes-rodape">
        <h2>Redes Sociais:</h2>
        <div>
          <img src="images/imgs/icon/logo-facebook.png" alt="Logo do Facebook" />
          <img src="images/imgs/icon/logo-instragam.png" alt="Logo do Instagram" />
          <img src="/Retrobol/imgs/icon/logo-whatsapp.png" alt="Logo do Whatsapp">
        </div>
      </article>
      <div class="logo-footer">
        <img src="/Retrobol/imgs/logo/Logo Retrôbol - branco - Cortado.png" alt="">
      </div>
    </section>

    <strong id="copyright">copyright &copy; | 2022</strong>
  </footer>
  <script src="javascripts/script.js"></script>
</body>

</html>