<%- include("./partials/partialHead") %> 
  <link rel="stylesheet" href="../stylesheets/pedidos.css" />
  <%- include("./partials/userHeader") %> 

  <%- include("./partials/userMain") %> 






<%- include("./partials/userFooter") %> 

<script src="../javascripts/users.js"></script>
</body>
</html>